# Ignore development and testing files
__pycache__
*.pyc
*.pyo
*.pyd
venv/
tests/
.mocks/
.pytest_cache
.vscode
.git
.gitignore

# Ignore build artifacts and configuration files not needed in production
ecs/
README.md
package.json
yarn.lock
pytest.ini
openapi.yaml
redis/redis.conf # Only needed for Redis service, not the backend app

# Ignore logs and temporary files
*.log
dist/
