ecs/
extra/

.vscode/
.idea/

# Ignore environment files
.env
.env.*

# Ignore cache and dependency directories
node_modules/

# Ignore all __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore all .pytest_cache directories
.pytest_cache/
**/.pytest_cache/

*.pytest_cache/
*.pytest_cache/**/*

# Ignore all .mypy_cache directories
.mypy_cache/
**/.mypy_cache/


*.pyc
*.pyo
*.pyd

.mypy_cache/
.ruff_cache/

# Ignore logs
*.log
logs/
